%html
  %head
    %meta{charset:'UTF-8'}
    %title Coursego | #{yield :title}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/5165849ba2.js"}
  %body{class: "#{controller.controller_name}"}
    = render partial: 'layouts/header'
    = render partial: 'shared/banner'
    .container
      = yield
    = render partial: 'layouts/footer'
